# Dependencies
/node_modules
/LMS/node_modules
/LMS/vendor

# Environment & Config
.env
LMS/.env
LMS/.env.backup
LMS/.env.production
LMS/auth.json

# Cache & Storage
LMS/storage/*.key
LMS/storage/framework/cache/*
LMS/storage/framework/sessions/*
LMS/storage/framework/views/*
LMS/storage/logs/*
LMS/storage/pail

# OS Files
.DS_Store
Thumbs.db
*.log

# IDEs
.idea
.vscode
.fleet
.nova
.zed
